<!-- Include header -->
<%- include("partial/mainHeader.ejs") %>
<!-- /Include header -->

<div class="container mt-5">
  <div class="d-flex justify-content-evenly">
    <a href="/register" class="btn btn-lg button bg-orange text-white">Register</a>
    <a href="/login" class="btn btn-lg button bg-orange text-white">Login</a>
  </div>
</div>

  
</body>
</html>