<!-- Include header -->
<%- include("partial/mainHeader.ejs") %>
<!-- /Include header -->

<div class="container mt-5">
  
</div>

<div class="container mt-5 orange-border p-4">
  <% if(errorMessage) { %>
    <p class="error fw-bold lead"><%= errorMessage %></p>
  <% } %>
  <form action="/login" method="post" id="user-login-form">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label text-orange lead">Email address :</label>
      <input type="email" class="form-control" name="email" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label text-orange lead">Password :</label>
      <input type="password" class="form-control" name="password">
    </div>
    <button type="submit" class="btn btn-lg button bg-orange text-white">Login</button>
  </form>
</div>

</body>
<script src="js/userLogin.js"></script>
</html>